<div class="sticky top-24 space-y-8">
  <div class="space-y-4">
    <h2 class="font-mono text-sm uppercase tracking-wider text-gray-500">
      Filter by tag
    </h2>

    <nav class="inline-flex flex-col space-y-3">
      {{ range .Site.Taxonomies.tags }}
        <a
          class="font-mono text-sm uppercase
          {{ if eq .Page.Permalink $.Page.Permalink }}
            text-indigo-600 font-extrabold
          {{ else }}
            text-gray-600
          {{ end }}"
          href="{{ .Page.Permalink }}"
          >{{ .Page.Title }}<span class="ml-2 text-gray-400"
            >({{ .Count }})</span
          ></a
        >
      {{ end }}
    </nav>
  </div>
</div>
